/* =========================================
   GLOBAL WINDOWS
   ========================================= */

.page-background{

    -fx-background-color: #f7f5ee;
}

.dark-panel{

    -fx-background-color: #0b1a30;
}

.light-panel{

    -fx-background-color: #ffffff;
}

/* =========================================
   GLOBAL TITLES
   ========================================= */

.main-title{

    -fx-text-fill: #0b1a30;

    -fx-font-size: 30px;

    -fx-font-weight: bold;
}

.section-title{

    -fx-text-fill: #1a2744;

    -fx-font-size: 22px;

    -fx-font-weight: bold;
}

.sub-text{

    -fx-text-fill: #7c8ba1;

    -fx-font-size: 13px;
}

/* =========================================
   GLOBAL CARDS
   ========================================= */

.card{

    -fx-background-color: white;

    -fx-background-radius: 16;

    -fx-effect: dropshadow(
            gaussian,
            rgba(0,0,0,0.08),
            15,
            0,
            0,
            4
    );
}

/* =========================================
   GLOBAL LISTVIEW
   ========================================= */

.list-view{

    -fx-background-color: white;

    -fx-border-color: #d6d3cb;

    -fx-border-radius: 10;

    -fx-background-radius: 10;
}

.list-cell{

    -fx-background-color: white;

    -fx-text-fill: #1a2744;

    -fx-font-size: 14px;
}

.list-cell:hover{

    -fx-background-color: #edf2ff;
}

.list-cell:selected{

    -fx-background-color: #1a2744;

    -fx-text-fill: white;
}